.button a, input[type=submit] {
	color: #000000;
	text-decoration: none;
	padding: 10px 30px;
	background: $brand-color;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.5);
	transition: .2s ease-in-out;
}

.button a:hover, input[type=submit]:hover {
	border: 1px solid #000000;
	background: $secondary-brand-color;
	cursor: pointer;
}

.button.alt a {
	background: rgba(255,255,255,0.15);
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 16px 50px;
}

.button.alt a:hover {
	background: #000000;
	color: $brand-color;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px auto;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}


#mc_embed_signup {
	div {
		max-width: 600px;

		@media #{$tablet} {
			margin: 0 5px;
		}
		@media #{$desktop} {
			margin: 0 auto;
		}
	}

	label {
		text-align: left;
		color: #000000;
		margin: 0px;
	}

	input[type=submit] {
		max-width: 200px;
		height: fit-content;
	}

	.asterisk {
		color: red;
	}

	.indicates-required {
		text-align: right;
		color: #000000;
	}

	.required.email {
		margin: 10px 0px;
	}

	.mce_inline_error {
		text-align: left;
		padding: 5px 0px;
		// background-color: transparent;
		font-weight: normal;

		div {
			background-color: transparent;
			font-weight: normal;
		}
	}

	#signup {
		//display: flex;
		//justify-content: space-between;

		.button.alt.left {
			div {
				margin: 10px auto;
			}
		}
	}
}

.clear.foot {
	display: none;
}

.brandingLogo {
	text-align: right;

	img {
		max-width: 100px;
	}
}

