$brand-color: #FFC91F;
$secondary-brand-color: #ff9d00;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 250px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
